#logoBar{
    
    width:100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 3;
background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

#logoBar img{
    margin-top: 5px;
    margin-left: 40%;
}

.custompill{
    /*
    background-color: orange;
    font-size: 20px;
    color: white;
    */
    border: 1px solid #FBC473;

    color: #FBC473;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #FBC473;
}