#logoBar{
    
    width:100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 3;
background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

#logoBar img{
    margin-top: 5px;
    margin-left: 40%;
}

#slideMap{
    width: 50%;
    height: 40%;
    float: left;
    background-color: green;
}

#restaurant_img{
    width: 100%;
    height: 200px;
    float: left;
    background-color: yellow;
}
#restaurant_info{
    width: 50%;
    height: 30%;
    float: left;
    background-color: purple;
}
#slides_varia{
width: 50%;
    height: 30%;
    float: left;
    background-color: seagreen;
}