#logoBar{
    
    width:100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 3;
background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

#logoBar img{
    margin-top: 5px;
    margin-left: 40%;
}

@media screen-wid